*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

div > h3,
div > p:hover,
.my_arrow i:hover{
    color: rgb(252, 245, 146);
}

.my_container .row{
    height: 400px;
}

.right-arrow,
.left-arrow,
.my_img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.my_arrow i{
    vertical-align: middle;
    font-size: 3em;
}

.my_container img{
    width: 100%;
}

.my_arrow i:active{
    font-size: 3.2em;
}


